.food-product {
    &__progress {
        width: 60px;
        height: 60px;
    }
}
.MuiContainer-root.food-product__progress-wrapper.MuiContainer-maxWidthLg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
